{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset('css/participant.css') }}">{% endblock %}

{% block body %}
    <div class="create-participant">
        {{ form(createParticipantForm) }}
    </div>
{% endblock %}
