{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Créer la sortie</button>
    {{ form_end(form) }}
{% endblock %}
