{% extends 'base.html.twig' %}

{% block title %}Liste de sorties{% endblock %}



{% block main %}
    {#
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <button class="btn btn-success">Créer la sortie</button>
    <button class="btn btn-primary">Publier</button>
    <button class="btn btn-danger">Annuler</button>
    #}
    <h2>Liste de sorties</h2>

{% endblock %}



